[submodule "xpring-common-js"]
	path = xpring-common-js
	url = http://github.com/xpring-eng/xpring-common-js
	branch = master
[submodule "hermes-ilp"]
	path = hermes-ilp
	url = https://github.com/xpring-eng/hermes-ilp
[submodule "rippled"]
	path = rippled
	url = http://github.com/ripple/rippled
	branch = develop
