[submodule "xpring-common-js"]
	path = xpring-common-js
	url = http://github.com/xpring-eng/xpring-common-js
	branch = master
[submodule "xpring-common-protocol-buffers"]
	path = xpring-common-protocol-buffers
	url = http://github.com/xpring-eng/xpring-common-protocol-buffers
	branch = master
