version: 2
jobs:
  build:
    macos:
      xcode: "10.2"

    steps:
      - checkout

      - run:
          name: "Install Dependencies"
          command: |
            brew install xcodegen swiftlint
            sudo gem install slather

      - run:
          name: "Generate Project"
          command: xcodegen generate

      - run:
          name: "Build and Test"
          command: set -o pipefail && xcodebuild test -scheme XpringKit -destination 'platform=iOS Simulator,name=iPhone X,OS=12.2' ONLY_ACTIVE_ARCH=YES | xcpretty

      - run:
          name: "Generate Code Coverage"
          command: slather

      - run:
          name: "Upload Code Coverage"
          command: coveralls
